.home-blog .hero {
    margin: 3.6rem auto 0;
    position: relative;
    box-sizing: border-box;
    padding: 0 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF !important;
}